<a href="https://colab.research.google.com/github/Aleeze123/Traditional-OOP-Series/blob/main/build_compose_decorate_oop_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Build, Compose & Decorate: Traditional OOP Practice Series***

***1. Using self***

In [2]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print("Name:", self.name)
        print("Marks:", self.marks)


s1 = Student("Aleeza", 80)
s1.display()

Name: Aleeza
Marks: 80

***2. Using cls***

In [4]:
class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

    @classmethod
    def show_count(cls):
        print("Total objects created:", cls.count)


c1 = Counter()
c2 = Counter()
c3 = Counter()
Counter.show_count()

Total objects created: 3

***3. Public Variables and Methods***

In [13]:
class Car:
    def __init__(self, brand):
        self.brand = brand

    def start(self):
        print(self.brand, " is starting")


c = Car("Mercedes")
print("Car brand:", c.brand)
c.start()

Car brand: Mercedes
Mercedes  is starting

***4. Class Variables and Class Methods***

In [12]:
class Bank:
    # Class variable
    bank_name = "National Bank"

    def __init__(self, account_holder):
        self.account_holder = account_holder

    # Class method to change the bank name
    @classmethod
    def change_bank_name(cls, name):
        cls.bank_name = name

    def display_info(self):
        print(f"Account Holder: {self.account_holder}, Bank: {self.bank_name}")


# Creating instances
customer1 = Bank("Aleeza")
customer2 = Bank("Hoorain")

# Display info before changing bank name
print("Before changing bank name:")
customer1.display_info()
customer2.display_info()

# Change bank name using class method
Bank.change_bank_name("Meezan Bank")

# Display info after changing bank name
print("\nAfter changing bank name:")
customer1.display_info()
customer2.display_info()

Before changing bank name:
Account Holder: Aleeza, Bank: National Bank
Account Holder: Hoorain, Bank: National Bank

After changing bank name:
Account Holder: Aleeza, Bank: Meezan Bank
Account Holder: Hoorain, Bank: Meezan Bank

***5. Static Variables and Static Methods***

In [14]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b


result = MathUtils.add(5, 3)
print(result)

8

***6. Constructors and Destructors***

In [15]:
class Logger:
    def __init__(self):
        print("Logger object created")

    def __del__(self):
        print("Logger object destroyed")


log = Logger()
del log

Logger object created
Logger object destroyed

***7. Access Modifiers: Public, Private, and Protected***

In [16]:
class Employee:
    def __init__(self, name, salary, ssn):
        self.name = name
        self._salary = salary
        self.__ssn = ssn


e = Employee("Shahzain", 50000, "123-45-6789")

print("Name:", e.name)
print("Salary:", e._salary)
print("SSN:", e._Employee__ssn)

Name: Shahzain
Salary: 50000
SSN: 123-45-6789

***8. The super() Function***

In [18]:
class Person:
    def __init__(self, name):
        self.name = name

class Teacher(Person):
    def __init__(self, name, subject):
        super().__init__(name)
        self.subject = subject

***9. Abstract Classes and Methods***

In [20]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

***10. Instance Methods***

In [22]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print(f"{self.name} says Woof...!")

***11. Class Methods***

In [25]:
class Book:
    total_books = 0

    def __init__(self, title):
        self.title = title
        Book.increment_book_count()

    @classmethod
    def increment_book_count(cls):
        cls.total_books += 1

    def display(self):
        print(f"Book Title: {self.title}")

book1 = Book("Aangan")
book2 = Book("Khuda Ki Basti")
book3 = Book("Peer-e-Kamil")

print(f"Total books added: {Book.total_books}")

Total books added: 3

***12. Static Methods***

In [27]:
class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32

***13. Composition***

In [28]:
class Engine:
    def start(self):
        return "Engine started"

class Car:
    def __init__(self, engine):
        self.engine = engine

    def start_car(self):
        return self.engine.start()

***14. Aggregation***

In [29]:
class Employee:
    def __init__(self, name):
        self.name = name

class Department:
    def __init__(self, department_name, employee):
        self.department_name = department_name
        self.employee = employee

    def get_info(self):
        return f"{self.employee.name} works in {self.department_name} department"

***15. Method Resolution Order (MRO) and Diamond Inheritance***

In [30]:
class A:
    def show(self):
        return "Show from A"

class B(A):
    def show(self):
        return "Show from B"

class C(A):
    def show(self):
        return "Show from C"

class D(B, C):
    pass

obj = D()
print(obj.show())

Show from B

***16. Function Decorators***

In [35]:
def log_function_call(func):
    def wrapper():
        print("Function is being called")
        return func()
    return wrapper

@log_function_call
def say_hello():
    print("Hello")

say_hello()

Function is being called
Hello

***17. Class Decorators***

In [36]:
def add_greeting(cls):
    def greet(self):
        return "Hello from Decorator!"
    cls.greet = greet
    return cls

@add_greeting
class Person:
    def __init__(self, name):
        self.name = name

***18. Property Decorators: @property, @setter, and @deleter***

In [37]:
class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        return self._price

    @price.setter
    def price(self, value):
        self._price = value

    @price.deleter
    def price(self):
        del self._price

***19. callable() and __call__()***

In [39]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, value):
        return value * self.factor
m = Multiplier(5)

print(callable(m))
print(m(1))

True
50

***20. Creating a Custom Exception***

In [40]:
class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age must be 18 or older.")
    else:
        print("Age is valid.")
try:
    check_age(16)
except InvalidAgeError as e:
    print(f"InvalidAgeError caught: {e}")

InvalidAgeError caught: Age must be 18 or older.

***21. Make a Custom Class Iterable***

In [41]:
class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        value = self.current
        self.current -= 1
        return value

for number in Countdown(5):
    print(number)

5
4
3
2
1
0